<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">
    	<item label="Xterm"> <action name="Execute">
                <execute>xterm</execute>
        </action> </item>

        <item label="Thunar"> <action name="Execute">
        	<execute>thunar</execute>
        </action> </item>
        <item label="FireFox"> <action name="Execute">
        	<execute>firefox</execute>
        </action> </item> 
        <menu id="2" label="Editor de textos">
            <item label="Nano"> <action name="Execute">
                <execute>xterm -e nano</execute>
            </action> </item>
            <item label="Gedit"> <action name="Execute">
                <execute>gedit</execute>
            </action> </item>
        </menu>
        <menu id="7" label="Multimedia">
            <item label="Viewnior"> <action name="Execute">
                <execute>viewnior</execute>
            </action> </item>
            <item label="PulseAudio Equalizer"> <action name="Execute">
                <execute>pulseaudio-equalizer-gtk</execute>
            </action> </item>
            <item label="PulseAudio Volume Control"> <action name="Execute">
                <execute>pavucontrol</execute>
            </action> </item>
            <item label="Qt V4L2 test Utility"> <action name="Execute">
                <execute>qv4l2</execute>
            </action> </item>
            <item label="VLC media player"> <action name="Execute">
                <execute>qvlc</execute>
            </action> </item>
        </menu>
        <menu id="19" label="Shells">
        
            <item label="ST"> <action name="Execute">
                <execute>st</execute>
             </action> </item>
            <item label="urxvt"> <action name="Execute">
                <execute>urxvt</execute>
            </action> </item>
            <item label="UXTerm"> <action name="Execute">
                <execute>uxterm</execute>
            </action> </item>

        </menu>
        <menu id="37" label="System">
            <menu id="36" label="Settings">
                <menu id="21" label="GNOME">
                    <item label="Add/Remove Software"> <action name="Execute">
                        <execute>pamac-manager</execute>
                    </action> </item>
                    <item label="Advanced Network Configuration"> <action name="Execute">
                        <execute>nm-connection-editor</execute>
                    </action> </item>
                </menu>
                <item label="Customize Look and Feel"> <action name="Execute">
                    <execute>lxappearance</execute>
                </action> </item>
                <item label="File Manager Settings"> <action name="Execute">
                    <execute>thunar-settings</execute>
                </action> </item>
                <item label="Openbox Configuration Manager"> <action name="Execute">
                    <execute>obconf</execute>
                </action> </item>
                <item label="Tint2 Settings"> <action name="Execute">
                    <execute>tint2conf</execute>
                </action> </item>
            </menu>
            <item label="Android File Transfer (MTP)"> <action name="Execute">
                <execute>android-file-transfer</execute>
            </action> </item>
            <item label="pstree"> <action name="Execute">
                <execute>xterm -e pstree.x11</execute>
            </action> </item>
            <item label="Tint2"> <action name="Execute">
                <execute>tint2</execute>
            </action> </item>
        </menu>
        <menu id="38" label="Utilities">
            <item label="Info"> <action name="Execute">
                <execute>xterm -e info</execute>
            </action> </item>
            <item label="Xarchiver"> <action name="Execute">
                <execute>xarchiver</execute>
            </action> </item>
            <item label="cerrar proceso"> <action name="Execute">
                <execute>xkill</execute>
            </action> </item>
        </menu>
        <separator/>
        <menu id="40" label="OpenBox">
            <menu id="client-list-menu"/>
            <item label="Reconfigure"> <action name="Reconfigure"/> </item>
            <separator/>
            <item label="Exit"> <action name="Exit"/> </item>
        </menu>
    </menu>
</openbox_menu>
